.navbar {
  background-color: rgb(250, 217, 32);
  position: fixed;
  width: 100%;
  z-index: 99;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.navbar-brand {
  font-size: 3vw;
  font-weight: 900;
  color: red;
}

.nav-item {
  font-size: 2vw;
  margin-top: 15px;
}

.navbar ul {
  flex-direction: row;
  width: 100%;
}

.navbar li {
  display: inline-block;
  padding: 26px 0;
  width: 33.3%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .navbar-brand {
    font-size: 36px;
  }

  .nav-item {
    font-size: 26px;
  }
}