.card {
  background: #fff;
  border-radius: 10px;
  height: 200px;
  margin: 1rem;
  position: relative;
  width: 200px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  background: rgb(228, 168, 4);
}

.card > .img-container {
  border-radius: 10px;
  margin: 10px;
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: rgb(250, 217, 32);
}

.card > .img-container > img {
  width: 80%;
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
